button {
    padding: 8px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 0.9em;
    transition: background 0.2s ease-in;
}
button:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: #000;
}
